# Compiled Object files
*.slo
*.lo
*.o
*.d
RunSkim/scripts/gangalog*
RunPileupPRW/Prw*

TODO

*.sublime-project
*.sublime-workspace

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Build items
cmake/
build/
.idea/
obj/
test-bin/
bin/
*.root
.fuse*
test-bin

# Emacs
*.*~

# Random
.fuse*

# Output specific
*.pdf
*.png
*.eps
output
finalOutput
plotOutput

D3PDReader/
EventLoop/
EventLoopAlgs/
EventLoopGrid/
GoodRunsLists/
GridTools/
MultiDraw/
PATCore/
PileupReweighting/
RootCore.par
RootCore/
RootCoreUtils/
SampleHandler/
TrigRootAnalysis/
MuonEfficiencyCorrections/

gangalog
TnPSelector/.tags
TnPSelector/.tags_sorted_by_file
TnPSelector/tags
.tags
.tags_sorted_by_file
