# Compiled Object files
*.slo
*.lo
*.o
*.d

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# RootCore specific
obj/
test-bin/
bin/
*.root
.fuse*

# Emacs
*.*~

# Random
.fuse*

# Output specific
*.pdf
*.png
*.eps
output
finalOutput
plotOutput

D3PDReader/
EventLoop/
EventLoopAlgs/
EventLoopGrid/
GoodRunsLists/
GridTools/
MultiDraw/
PATCore/
PileupReweighting/
RootCore.par
RootCore/
RootCoreUtils/
SampleHandler/
TrigRootAnalysis/
