# Compiled Object files
*.slo
*.lo
*.o
*.d

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# RootCore specific
obj/
test-bin/
bin/
*.root
.fuse*

# Emacs
*.*~

# Random
.fuse*

# Output specific
*.pdf
*.png
*.eps
output
finalOutput
plotOutput
